[
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/edits/events/objectLocator",
        "body": {
            "locator": {
                "typeId": "hts-projects-axle",
                "primaryKey": {
                    "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
                }
            },
            "request": {
                "customMetadata": {},
                "payload": {
                    "type": "objectAdded",
                    "objectAdded": {
                        "properties": {
                            "project": "Test-Project-10",
                            "team": "TEST",
                            "project_id": 1234,
                            "policy": "NCATS"
                        }
                    }
                }
            }
        },
        "status": 200,
        "response": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/load/objectsByLocator",
        "body": {
            "typeId": "hts-projects-axle",
            "primaryKey": {
                "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
            }
        },
        "status": 200,
        "response": {
            "objectRid": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
            "objectTypeId": "hts-projects-axle",
            "title": "Test-Project-10",
            "properties": {
                "project": "Test-Project-10",
                "team": "TEST",
                "project_id": 1234
            },
            "primaryKey": {
                "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
            },
            "baseVersion": 3,
            "editsVersion": 23,
            "workstateEditsVersion": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/edits/events/objectLocator",
        "body": {
            "locator": {
                "typeId": "hts-projects-axle",
                "primaryKey": {
                    "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
                }
            },
            "request": {
                "customMetadata": {},
                "payload": {
                    "type": "objectDeleted",
                    "objectDeleted": {}
                }
            }
        },
        "status": 200,
        "response": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
[...]
