[
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/edits/events/objectLocator",
        "body": {
            "locator": {
                "typeId": "hts-projects-axle",
                "primaryKey": {
                    "project_uid": "03ddab875efe56b6f8ad0ad7d44f1f0b"
                }
            },
            "request": {
                "customMetadata": {},
                "payload": {
                    "type": "objectAdded",
                    "objectAdded": {
                        "properties": {
                            "project": "Test-Project-13",
                            "team": "Connector Test Team",
                            "project_id": 7890,
                            "policy": "NCATS"
                        }
                    }
                }
            }
        },
        "status": 200,
        "response": "ri.phonograph2-objects.main.object.4b8caf66-bc78-4a39-ba6d-982737bdaf65",
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/load/objectsByLocator",
        "body": {
            "typeId": "hts-projects-axle",
            "primaryKey": {
                "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
            }
        },
        "status": 200,
        "response": {
            "objectRid": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
            "objectTypeId": "hts-projects-axle",
            "title": "Test-Project-10",
            "properties": {
                "project": "Test-Project-10",
                "team": "Connector Test Team",
                "project_id": 1234
            },
            "primaryKey": {
                "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
            },
            "baseVersion": 3,
            "editsVersion": 159,
            "workstateEditsVersion": null,
            "entityVersion": "djEuMy4xNTku"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/objects/search/objects?pageSize=0",
        "body": {
            "objectTypes": [
                "hts-projects-axle"
            ],
            "filter": {
                "type": "terms",
                "terms": {
                    "terms": [
                        "Connector Test Team"
                    ],
                    "field": "team.raw"
                }
            }
        },
        "status": 200,
        "response": {
            "totalHits": 3,
            "hits": [],
            "aggregations": {},
            "nextPageToken": "v1.a277e5f8-0f98-4b00-8185-c6745e3155f8.0"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/objects/search/objects?pageSize=10000",
        "body": {
            "objectTypes": [
                "hts-projects-axle"
            ],
            "filter": {
                "type": "terms",
                "terms": {
                    "terms": [
                        "Connector Test Team"
                    ],
                    "field": "team.raw"
                }
            },
            "sort": [
                {
                    "project.raw": {
                        "order": "asc"
                    }
                }
            ]
        },
        "status": 200,
        "response": {
            "totalHits": 3,
            "hits": [
                {
                    "object": {
                        "objectRid": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
                        "objectTypeId": "hts-projects-axle",
                        "title": "Test-Project-10",
                        "properties": {
                            "project": "Test-Project-10",
                            "team": "Connector Test Team",
                            "project_id": 1234
                        },
                        "primaryKey": {
                            "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
                        },
                        "baseVersion": 3,
                        "editsVersion": 159,
                        "workstateEditsVersion": null,
                        "entityVersion": "djEuMy4xNTku"
                    },
                    "highlight": {}
                },
                {
                    "object": {
                        "objectRid": "ri.phonograph2-objects.main.object.2bf40318-6458-4061-a8d8-7229a1fbf70a",
                        "objectTypeId": "hts-projects-axle",
                        "title": "Test-Project-11",
                        "properties": {
                            "project": "Test-Project-11",
                            "team": "Connector Test Team",
                            "project_id": 234[...]
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/objects/search/objects?pageSize=10000",
        "body": {
            "objectTypes": [
                "hts-projects-axle"
            ],
            "filter": {
                "type": "terms",
                "terms": {
                    "terms": [
                        "Connector Test Team"
                    ],
                    "field": "team.raw"
                }
            },
            "propertySelector": {
                "propertyWhitelist": [
                    "team"
                ]
            }
        },
        "status": 200,
        "response": {
            "totalHits": 3,
            "hits": [
                {
                    "object": {
                        "objectRid": "ri.phonograph2-objects.main.object.4b8caf66-bc78-4a39-ba6d-982737bdaf65",
                        "objectTypeId": "hts-projects-axle",
                        "title": "Test-Project-12",
                        "properties": {
                 [...]
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/objects/search/objects?pageSize=10000",
        "body": {
            "objectTypes": [
                "hts-projects-axle"
            ],
            "filter": {
                "type": "matchAll",
                "matchAll":{}
            },
            "propertySelector": {
                "propertyWhitelist": [
                    "team"
                ]
            }
        },
        "status": 200,
        "response": {
            "totalHits": 3,
            "hits": [
                {
                    "object": {
                        "objectRid": "ri.phonograph2-objects.main.object.4b8caf66-bc78-4a39-ba6d-982737bdaf65",
                        "objectTypeId": "hts-projects-axle",
                     [...]
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/edits/events/objectLocator",
        "body": {
            "locator": {
                "typeId": "hts-projects-axle",
                "primaryKey": {
                    "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
                }
            },
            "request": {
                "customMetadata": {},
                "payload": {
                    "type": "objectModified",
                    "objectModified": {
                        "properties": {
                            "project": "Test-Project-10-modified",
                            "team": "Connector Test Team",
                            "project_id": 12345678
                        }
                    }
                }
            }
        },
        "status": 200,
        "response": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/edits/bulk/events/objectLocators",
        "body": [
            {
                "locator": {
                    "typeId": "hts-projects-axle",
                    "primaryKey": {
                        "project_uid": "03ddab875efe56b6f8ad0ad7d44f1f0b"
                    }
                },
                "request": {
                    "customMetadata": {},
           [...]
[...]
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/edits/events/objectLocator",
        "body": {
            "locator": {
                "typeId": "hts-projects-axle",
                "primaryKey": {
                    "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
                }
            },
            "request": {
                "customMetadata": {},
                "payload": {
                    "type": "objectDeleted",
                    "objectDeleted": {}
                }
            }
        },
        "status": 200,
        "response": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
[...]
