[
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/edits/events/objectLocator",
        "body": {
            "locator": {
                "typeId": "hts-projects-axle",
                "primaryKey": {
                    "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
                }
            },
            "request": {
                "customMetadata": {},
                "payload": {
                    "type": "objectAdded",
                    "objectAdded": {
                        "properties": {
                            "project": "Test-Project-10",
                            "team": "Connector Test Team",
                            "project_id": 1234,
                            "policy": "NCATS"
                        }
                    }
                }
            }
        },
        "status": 200,
        "response": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/load/objectsByLocator",
        "body": {
            "typeId": "hts-projects-axle",
            "primaryKey": {
                "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
            }
        },
        "status": 200,
        "response": {
            "objectRid": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
            "objectTypeId": "hts-projects-axle",
            "title": "Test-Project-10",
            "properties": {
                "project": "Test-Project-10",
                "team": "Connector Test Team",
                "project_id": 1234
            },
            "primaryKey": {
                "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
            },
            "baseVersion": 3,
            "editsVersion": 53,
            "workstateEditsVersion": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/objects/search/objects?pageSize=0",
        "body": {
            "objectTypes": [
                "hts-projects-axle"
            ],
            "filter": {
                "type": "terms",
                "terms": {
                    "terms": [
                        "Connector Test Team"
                    ],
                    "field": "team.raw"
                }
            }
        },
        "status": 200,
        "response": {
            "totalHits": 1,
            "hits": [],
            "aggregations": {},
            "nextPageToken": "v1.d4478c5c-492a-4b4b-88d9-6fcb256a2ec8.0"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/storage/edits/events/objectLocator",
        "body": {
            "locator": {
                "typeId": "hts-projects-axle",
                "primaryKey": {
                    "project_uid": "3f3ace3786fc6a941d9f2f29fef44653"
                }
            },
            "request": {
                "customMetadata": {},
                "payload": {
                    "type": "objectDeleted",
                    "objectDeleted": {}
                }
            }
        },
        "status": 200,
        "response": "ri.phonograph2-objects.main.object.f7983934-56c4-43bb-9596-79f5fc38625a",
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "Node-Selection-Strategy",
            "BALANCED"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://nidap.nih.gov:443",
        "method": "POST",
        "path": "/phonograph2/api/objects/search/objects",
        "body": {
            "objectTypes": [
                "hts-projects-axle"
            ],
            "filter": {
                "type": "terms",
                "terms": {
                    "terms": [
                        "Bioprinting"
                    ],
                    "field": "team.raw"
                }
            }
        },
        "status": 200,
        "response": {
            "totalHits": 15,
            "hits": [
                {
                    "object": {
                        "objectRid": "ri.phonograph2-objects.main.object.9b326450-4910-4f96-be8c-d16cb7848f77",
                        "objectTypeId": "hts-projects-axle",
                        "title": "IKB12",
                        "properties": {
                            "project_type": "project12256",
                            "user_id_list": [
                                "van"
                            ],
                            "project": "IKB12",
                            "team": "Bioprinting",
                            "project_join": "trhantagonist1788",
                            "first_name_list": [
                                "van"
                            ],
                            "full_name": [
                                "manisha kumari"
                            ],
                            "email_list": []
                        },
                        "primaryKey": {
                            "project_uid": "478441e449d7ddc51c62ea5fe15cfbb7"
                        },
                        "baseVersion": 3,
                        "editsVersion": 2,
                        "workstateEditsVersion": null
                    },
                    "highlight": {}
                },
                {
                    "object": {
                        "objectRid": "ri.phonograph2-objects.main.object.e13ebbcc-3563-4039-94ac-1614810789a3",
                        "objectTypeId": "hts-projects-axle",
                        "title": "3D-HEAL_Cortical_Profiling-Stemonix",
                        "properties": {
                            "project_type": "project",
                            "user_id_list": [
                                "pittengerst",
                                "fordscheimersl",
                                "ferrerm",
                                "hux6",
                                "leeemm",
                                "boutinme"
                            ],
                            "last_name_list": [
                                "Pittenger",
                                "Ford-Scheimer",
                                "Ferrer",
                                "Hu",
                                "Lee",
                                "Boutin"
                            ],
                            "project": "3D-HEAL_Cortical_Profiling-Stemonix",
                            "team": "Bioprinting",
                            "project_join": "3dheal_cortical_profilingstemonix",
  [...]
